    #login .form-wrap {
        width: 30%;
        margin: 0 auto;
    }

    #login h1 {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        padding-bottom: 20px;
    }

    #login .form-group {
        margin-bottom: 25px;
    }

    #login .checkbox {
        margin-bottom: 20px;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    #login .checkbox.show:before {
        content: '\e013';
        color: #2560cf;
        font-size: 17px;
        margin: 1px 0 0 3px;
        position: absolute;
        pointer-events: none;
        font-family: 'Glyphicons Halflings';
    }

    #login .checkbox .character-checkbox {
        width: 25px;
        height: 25px;
        cursor: pointer;
        border-radius: 3px;
        border: 1px solid #ccc;
        vertical-align: middle;
        display: inline-block;
    }

    #login .checkbox .label {
        color: #6d6d6d;
        font-size: 13px;
        font-weight: normal;
    }

    #login .btn.btn-custom {
        font-size: 14px;
        margin-bottom: 20px;
    }

    #login .forget {
        font-size: 13px;
        text-align: center;
        display: block;
    }

    .form-control {
        color: #212121;
    }

    .btn-custom {
        color: #fff;
    }

    .btn-custom:hover,
    .btn-custom:focus {
        color: #fff;
    }

    #footer {
        color: #6d6d6d;
        font-size: 12px;
        text-align: center;
    }

    #footer p {
        margin-bottom: 0;
    }

    #footer a {
        color: inherit;
    }

    .produto-container,
    .usuario-container,
    .header-container {
        -webkit-box-shadow: 0px 0px 10px 0px rgb(228, 228, 228);
        -moz-box-shadow: 0px 0px 10px 0px rgb(228, 228, 228);;
        box-shadow: 0px 0px 10px 0px rgb(228, 228, 228);;
    }

    #listagem-usuarios_wrapper, #listagem-produtos_wrapper,#listagem-produtos-recomendados_wrapper, #listagem-pedidos_wrapper,#listagem-favoritos_wrapper,#listagem-pedido-produto_wrapper {
        margin: 25px;
        margin-bottom: 20px;
    }
    .table .thead-dark th {
        color: #fff;
        background-color: #1b5a99;
        border-color: #1b5a99;
    }
    .carousel-inner > .item {
        -webkit-transition: 1.5s ease-in-out ;
        -o-transition: 1.5s ease-in-out ;
        transition: 1.5s ease-in-out ;
        }
        .carousel-inner > .item {
        -webkit-transition: -webkit-transform 1.5s ease-in-out;
        -o-transition: -o-transform 1.5s ease-in-out;
        transition: transform 1.5s ease-in-out;
        
        }
.btn-finalizar-carrinho {
    display: inline-block;
    padding: 13px;
    border: 0;
    border-radius: 0.25rem;
    font-weight: 600;
    font-style: normal;
    font-family: "Trebuchet MS",Arial,sans-serif;
    color: #fff;
    background: #ff691e;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    box-sizing: border-box;
    transition-property: all;
    transition-duration: .3s;
    text-decoration: none;
    vertical-align: middle;
    width: 100%;
    font-size: 1.125rem;
    height: inherit;
}
.btn-finalizar-carrinho:hover {
    color: #ff691e;
    background: #ffffff;
    border: 1px solid #ff691e;
}
.btn-carrinho-home, .btn-produto-cadastrar,.btn-usuario-cadastrar,.btn-produto-recomendado-cadastrar {
    display: inline-block;
    padding: 13px;
    border: 0;
    border-radius: 0.25rem;
    font-weight: 600;
    font-style: normal;
    font-family: "Trebuchet MS",Arial,sans-serif;
    font-size: 1.125rem;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    box-sizing: border-box;
    transition-property: all;
    transition-duration: .3s;
    text-decoration: none;
    vertical-align: middle;
}
.btn-carrinho-home:hover, .btn-produto-cadastrar:hover,.btn-usuario-cadastrar:hover,.btn-produto-recomendado-cadastrar:hover {
    color: #1d4fe4;
    background: #ffffff;
    border: 1px solid #1d4fe4;
}
.quantity-left-minus , .quantity-right-plus {
    display: inline-block;
    border: 0;
    border-radius: 0.25rem;
    font-weight: 600;
    font-style: normal;
    font-family: "Trebuchet MS",Arial,sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    box-sizing: border-box;
    transition-property: all;
    transition-duration: .3s;
    text-decoration: none;
    vertical-align: middle;
}
.quantity-left-minus:hover , .quantity-right-plus:hover{
    color: #ffffff;
    background: #000000;
    border: 1px solid #ffffff;
}
.fas:hover {
    color: #ffffff;
}
.btn-favorito{
    display: inline-block;
    border: 0;
    border-radius: 0.25rem;
    font-weight: 600;
    font-style: normal;
    font-family: "Trebuchet MS",Arial,sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    outline: 0;
    box-sizing: border-box;
    transition-property: all;
    transition-duration: .3s;
    text-decoration: none;
    vertical-align: middle;
    background: #ffffff;
}
.item-name{
    font-weight: 600;
    font-style: normal;
    font-family: "Trebuchet MS",Arial,sans-serif;
    font-size: 2rem;
}
.header-container a {
    font-weight: 600;
    font-style: normal;
    font-family: "Trebuchet MS",Arial,sans-serif;
    font-size: 1.15rem;
    text-decoration: none;
}
.header-container button {
    font-weight: 600;
    font-style: normal;
    font-family: "Trebuchet MS",Arial,sans-serif;
    font-size: 1.55rem;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}